* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #F9F9F9;
    margin: 0;
    padding: 20px 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li {
    padding-right: 10px;
}