@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow', sans-serif;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white origin-top-left transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.underline-title {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    padding-bottom: 6px;
}

.share-underline {
    content: '';
    display: inline;
    border-right: 1px solid black;
    padding-right: 16px;
}

.footer-menu li {
    display: inline;
    color: #00F4E6;
}

iframe {
    display: absolute;
    width: 357px;
    height: 200px;
    margin: 0;
}

/* Tablet */
@media (min-width: 768px) {
  
}